.App {
  display: flex;
}

/* ----- Auth ----- */
.Auth {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #FF70A6, #FF9770, #FFD670, #E9FF70);
  /* For Children */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-login-container {
  height: 500px;
  width: 500px;
  background: linear-gradient(90deg, #FF9770, #FFD670);
  box-shadow: 0px 5px 50px 1px grey;
  border-radius: 2%;
   /* For Children */
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.auth-title {
  color: white;
  font-size: 80px;
  font-weight: 700;
}


/* ----- Nav ----- */
.Nav { 
  height: 100vh;
  width: 100px;
  background: linear-gradient(0deg, #FF70A6, #FF9770);
  /* box-shadow: 1px 0px grey; */
  position: fixed;
  /* For Children */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-top-container {
  height: 300px;
  width: 100%;
  /* box-shadow: 10px 0px black; */
  /* For Children */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-profile-container {
  height: 120px;
  width: 100%;
  /* For Children */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-profile-image {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
}

.nav-profile-name {
  color: white;
  font-size: 12px;
}

.nav-link-images {
  height: 40px;
  width: 40px;
}

.nav-bottom-container {
  height: 100px;
  width: 100%;
  /* For Children */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ----- Dashboard ----- */
.Dashboard {
  width: 100vw;
  background-color: #f2f2f2;
  padding: 20px;
  /* For Children */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dash-search-container {
  height: 50px;
  width: 70%;
  margin: 5px;
  padding: 15px;
  background-color: white;
  /* For Children */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dash-search-input-container {
  height: 25px;
  width: 75%;
  /* For Children */
  display: flex;

  align-items: center
}

.dash-search-input {
  height: 25px;
  width: 70%;
}

.dash-search-button {
  height: 25px;
  width: 25px;
  border: transparent;
  background-color: #FF9770;  
}

.dash-reset-button {
  height: 25px;
  width: 50px;
  color: white;
  border: transparent;
  background-color: #403d39; 
}

.dash-checkbox-container {
  /* For Children */
  display: flex;
  align-items: center;
}

#checkbox-my-posts {
  height: 15px;
  width: 15px;
  background-color: blue;
  color: white;

}

.dash-posts-container {
  height: auto;
  width: 70%;
  margin: 5px;
  padding: 15px;
  background-color: white;
  /* For Children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dash-post-list {
  height: 80px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
  /* for Children */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ----- Post ----- */
/* Note: Controls both posts Dashboard list, and in individual Post  */
.Post {
  height: 100vh;
  width: calc(100% - 100px);
  background-color: lightgray;
  /* for Children */
  display: flex;
  justify-content: center;
}
.post-main-container {
  height: 70%;
  width: 80%;
  margin: 10%;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
  /* for Children */
  display: flex;
  flex-direction: column;
}

.post-top-container {
  height: 80px;
  width: 100%;
  padding: 2px 10px 2px 10px;  
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
  /* for Children */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  color: #FF9770;
  font-size: 40px;
  font-weight: 700;
}

.post-profile-container {
  height: 100%;
  width: 150px;
  /* for Children */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-profile-image {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: white;
  box-shadow: 0px 2px 2px 3px lightgrey;
  border-radius: 50%;
}

.post-bottom-container {
  height: 500px;
  width: 100%;
  padding: 10px;
  /* for Children */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-bottom-image-container {
  height: 90%;
  width: 48%;
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image {
  max-width: 80%;
  max-height: 80%;
}

.post-image.edit {
  width: 80%;
}

.post-bottom-text-container {
  height: 90%;
  width: 48%;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
}

.post-text-edit {
  height: 95%;
  width: 95%;
  resize: none;
}

.post-button {
  height: 30px;
  width: 100px;
  margin: 0 auto;
}

/* ----- Form ----- */
.Form {
  height: 100vh;
  width: calc(100% - 100px);
  background-color: lightgray;
  /* for Children */
  display: flex;
  justify-content: center;
}

.form-main-container {
  height: 80%;
  width: 80%;
  margin: 5%;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px lightgrey;
  /* for Children */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 80%;
  margin: 10px;
}

.form-image {
  max-height: 300px;
  max-width: 300px;
}

.form-textarea {
  resize: none;
  width: 80%;
  margin: 10px;
}

